<% include layout_header %>
    <style>
    .form-group .btn{
      font-size:1.2em;
    }
    #main{
      padding-top:20px;
    }
    </style>
  </head>

  <body>
    <% include body_header %>
    <% include body_right %>
      <div id="main" class="container">
        <div class="row">
          <div class="col-md-12">
            <h3><%=text%></h3>
          </div>
        </div>
      </div>
    <% include layout_footer %>
  </body>
</html>